body{
	background-image: url(imagenes/fondo1.png);
	padding: 0px;
}

p{
	font-size:24px;
	color: white;		

}
a{
	color: #24FBF9;
	text-shadow: 2px 2px #692121;
	font-size: 18px;
}
h1{
	font-size:68px;
	background-image: url(imagenes/fondo6.png);
	padding: 0px;
	color: #FEF8B9;
	font-family: arial;
	text-shadow: 2px 2px #FE0404;

	
}
img{
	background-color: black;
	padding: 20px 20px;
}
h2{
		font-size:28px;
	background:#431E72;
	color:#E4F235;
	padding: 10px;
	font-family: arial;
	text-shadow: 4px 4px #000000;

}
h3{
	font-size:20px;
	background:#909694;
	color:#44FFE4;
	padding: 0px;
	
}
h5{
	color: #24FBF9;
	text-shadow: 2px 2px #692121;
	text-align: center;
	padding: 0px;
}